<h3>Spoorify made by Jørgen Solli</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://emberjs.com/">Ember</a></td>
      <td>2.11</td>
    </tr>
    <tr>
    	<td><a href="https://developer.spotify.com/web-api/search-item/">Spotify Search API</a></td>
    	<td>v1</td>
	</tr>
    <tr>
      <td><a href="https://v4-alpha.getbootstrap.com/">Bootstrap</a></td>
      <td>4.0.0-aplpha.6</td>
    </tr>
    <tr>
      <td><a href="https://heroku.com">Heroku</a></td>
      <td>--</td>
    </tr>
  </tbody>
</table>