{{input class="form-control mr-sm-2 m-b-md" type="text" value=searchString placeholder="Search for an artist"}}

<div class="text">
 <h3>Search result for {{searchString}}</h3>
 <hr>
</div>

<div id="container">
	<div id="res" class="row">
		
	</div>
</div>